/* ...............................................................................................MOBILE VERSION..................................................................................................... */

@media only screen and (max-width: 600px) { 
    /* .............................Header Section.................... */
    header{
        display: none;
    }
    
    .mobile-header{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url("images/Ornament2.svg");
        background-color: #000000;
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover
    }

    .mobile-logo{
        height: 40px;
width: 40px;

    }

    
    label .menu {
        position: absolute;
        right: -100px;
        top: -100px;
        z-index: 100;
        width: 200px;
        height: 150px;
        background: black;
        border-radius: 50% 50% 50% 50%;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 black, 0 0 0 0 black;
        cursor: pointer;
        
      }

      label .hamburger {
        position: absolute;
        top: 135px;
        left: 50px;
        width: 30px;
        height: 2px;
        background: white;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
      }
      
       label .hamburger:before {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: white;
      }
      
      label .hamburger:before { top: -10px; }
      
      label .hamburger:after { bottom: -10px; }
      
      label input { display: none; }
      
      label input:checked + .menu {
        box-shadow: 0 0 0 100vw black, 0 0 0 60vh black;
        border-radius: 0;
        
      }
      
      label input:checked + .menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        
      }
      
      label input:checked + .menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;
        
      }
      
      label input:checked + .menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;
        
      }
      
      label input:checked + .menu + ul { opacity: 1; }
      
      label ul {
        z-index: 200;
        position: absolute;
        top: 30%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: .25s 0s ease-in-out;
        transition: .25s 0s ease-in-out;
      }
      
      label a {
        margin-bottom: 1em;
        display: block;
        font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
text-align: center;
color: #FFFFFF;
        text-decoration: none;
      }
      


      /* ....................>>HER0 Section......... */
      
      .hero{
        background-image: url("images/Ornament2.svg");
    }
      .hero-title{
        font-size: 36px;
        margin-top: -50px;
        width: 350px;
        }

        .hero-desc{
            font-size: 14px;
            width: 286px;
            }

            .img-hero{
                display: none;
            }
            .btn-hero{
                display: none;
            }
            
            .getbtn{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 16px 32px;
                gap: 10px;
                width: 200px;
                height: 57px;    
                background: #A8FF35;
                border-radius: 40px;
                color: #000000;
                border: 0px;
                font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #000000;
            margin-top: 40px;
            }
            
            .btnrow{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
            }
            
            .btn-hero{
                height: 178.24851989746094px;
            width: 1076.513916015625px;
            margin-top: 50px;
            }

            .hero-tabs{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 40px;
                margin-bottom: 150px;
    
            }
            .herotab1{
                width: 350px;
                height: 90px;
                transform: rotate(-4deg);  
                z-index: 10;
            }

            .herotab2{
                position: absolute;
                width: 350px;
                height: 90px;
                left: 48px;
                top: 535px;
                transform: rotate(-4deg);
                z-index: 8;
            }

            .herotab3{
                width: 350px;
                height: 90px;
                transform: rotate(-3deg);
                position: absolute;
                left: 48px;
                top: 600px;
                z-index: 6;
            }

            .herotab4{
                position: absolute;
                left: 48px;
                top: 665px;
                width: 350px;
                height: 90px;
                transform: rotate(-4deg);
            }

            /* .......................................Tabs section........................... */
.tabs{
    background: #A8FF35;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0px;

}
.tabs-title{

font-size: 36px;

}

.tabimgs{
    display:  flex;
gap: 28px;
align-items: center;
position: relative;
}
.divtab2{
    height: 202px;
width: 502px;
border-radius: 16px;
background-color: white;
display:  flex;
justify-content: center;
align-items: center;
}

.tabgrp1{
    display: none;
}

.divtab2{

height: 118px;
width: 339px;



}

.tabs{
    position: relative;
}
.tabgrp1mobile{
    /* position: absolute;
    height: 67px;
    width: 99px;
   top: 180px; */

   display: none;
    }
    .tabgrp2mobile{
        /* position: absolute;
        height: 67px;
        width: 99px;
       top: 180px; */
    
       display: none;
        }

.tabgrp2{
    height: 69.93023681640625px;
width: 291px;

 }

.tabgrp3{
   display: none;
}

.tab-desc{
font-family: 'Nunito Sans';
width: 286px;
font-size: 14px;
margin-top: 60px;
}

/* ...............................STARTUP SECTION.................. */
.startup-text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #000000;
    padding: 18px; 

    }
    
    span{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #ADADAD;
    width: 335px;   
    }
    
    .startup-title{
        font-size: 36px;
        font-weight: 900;
        text-align: center;
        height: 86px;
width: 370px;
    }
    
    .startup-image{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 120px;
        gap: 32px;
        padding: 0px 18px;
        margin-bottom: 140px; 
    }
    .startupimg{
    height: 74px;
width: 162px;

    }

    /* ..................................PLATFORM SECTION................... */

.platforms{
    padding: 18px;
}

.platform-title{
width: 380px;
font-family: "Nunito Sans";
font-weight: 900;
font-size: 36px;
}

.platform-logos{
    grid-template-rows: 70px;
    padding: 0px 18px;
    gap: 16px;
    overflow-x: scroll;
    scrollbar-width: none; 
}
.platform-logo{
    height: 64px;
    width: 64px;
    
}

.platform-screenshot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.tweet1{
    height: 116px;
    width: 339px;
margin-top: 32px;
}

.tweet2{
    height: 344px;
    width: 339px;
    
}

.tweet3{
    height: 116px;
    width: 339px;
}

.trendbtn{
  
padding: 16px 32px;
font-weight: 700;
font-size: 14px;
height: 44px;
width: 190px;
padding: 12px, 24px, 12px, 24px;
margin-bottom: 50px;

}

/* ....................................Best Deals........................... */

.best-deals{
    padding: 80px 18px;
    position: relative;
}

.deals-title{
width: 339px;
font-weight: 900;
font-size: 36px;
}

.Y{
    width: 54px;
font-size: 18px;
margin-left: 10px;  

}
.M{
    width: 71px;
    font-weight: 500;
    font-size: 18px;
    
}

.tog-img-mobile{
width: 63px;
height: 66px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 190px;
right: 140px;

}

.card.one{
    margin-top: 30px;
}
.tog-img{
  display: none;
}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:#A8FF35;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider.round {
    border-radius: 34px;
    width: 80px;
  }
  
  .slider.round:before {
    border-radius: 
    50%;
  }  

  .cards{
    gap: 24px;
    flex-direction: column;
  }

  

  .card-title{
font-size: 32px;
  }



  .price{
font-size: 60px;
  }

 

 

  


/* ..............................JOIN NOW SECTION....................... */
    .joinTitle1{
        height: 40px;
        width: 340px;
        
        
    font-weight: 900;
    font-size: 36px;
    
    }
    
    .joinTitle2{
        margin-block-start: 0em;
        margin-block-end: 0em;
    width: 740px;
    height: 81px;
    
    font-size: 36px;
}

.joinbtn{

margin-top: 0px;
height: 44px;
width: 130px;
border-radius: 40px;
padding: 12px, 24px, 12px, 24px;

font-style: normal;
font-weight: 700;
font-size: 14px;
text-align: center;
color: #FFFFFF;
}

/* .........................FOOTER SECTION ................... */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    }

    .footer-links{
        margin-top: 60px;
      background-color: white;
        flex-direction: column;
    }
    
    
    

 
}